@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.App {
    font-size: 20px;
    font-family: 'Gochi Hand';
    letter-spacing: 0.1em;
    text-align: center;
}

input {
    border: none;
    background-color: white;
    width: 300px;
    padding-right: 0px;
    font-size: 20px;
    font-family: 'Gochi Hand';
    letter-spacing: 0.1em;
    background-color: rgb(240, 240, 240);
    border-bottom: 3px solid rgba(80, 92, 51, 0.17);
}

input:focus {
    outline: none;
}

.categories-container {
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    font-family: 'Gochi Hand';
    letter-spacing: 0.1em;
    font-weight: bold;
    padding: 1.5px;
    padding-top: 3.5px;
    border: none;
    border-bottom: 3px solid rgba(80, 92, 51, 0.17);
}

.add-btn {
    border: none;
    padding-left: 0px;
    font-size: 20px;
    font-family: 'Gochi Hand';
    text-shadow: 1px 1px blue;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-bottom: 3px solid rgba(80, 92, 51, 0.17);
    border-right: 5px solid rgba(80, 92, 51, 0.17);
}

.add-btn:focus {
    outline: none;
}

.common-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.todos-container {
    width: 40%;
}

.todo-container {
    margin: 10px;
}

.category-container {
    color: blue;
    font-style: italic;
}

.delete-btn {
    background-color: white;
    border: 1px solid blue;
    border-radius: 15%;
    font-family: 'Gochi Hand';
    font-size: 20px;
    text-shadow: 1px 1px blue;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.delete-btn:focus {
    outline: none;
}

.filter-container {
    width: 20%;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 15%;
    text-align: left;
}

.category-button {
    display: block;
    border: none;
    background-color: white;
    font-family: 'Gochi Hand';
    font-size: 18px;
}
